<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <h1>Scores</h1>
        <form>
            <img src={{ "/img/dice"+ diceOne + ".png",}} />
            <input type="hidden" val={{ diceOne }} />
            <img src={{ diceTwo }} />
             <input type="text" value={{ diceTwo }} />

            <button type="submit"> Roll Dice </button> 
        </form>
   

        
    </body>
</html> 